<html>
<body>
  <div id="app">
    <input v-model="nome"/>
    <input v-model="sobrenome">
    <button v-on:click="logar()" type="button" class="btn btn-primary">Contar</button>
    <p>Bom ver você aqui, {{nome}} {{sobrenome}}</p>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue
    createApp({
      data() {
        return {
          numero: 0,
          nome:'',
          sobrenome:''
        }
      },
      methods: {
        logar() {
          alert('Bem-vindo ao no sistema ' + this.nome + ' ' + this.sobrenome)
        }
      }
    }).mount('#app')
  </script>

</body>

</html>